body {
    /* background */
    background-image: linear-gradient(rgb(182, 119, 182), white);
    min-height: 100vh;
    font-family: 'Courier New', Courier, monospace;
}
div {
    margin: auto;
    width: 50%;
    text-align: center;
    padding: 20px;
}
input {
    margin: 10px;
    border-radius: 5px;
    padding: 5px;
    border: none;
    font-family: 'Courier New', Courier, monospace;
}
button {
    border-radius: 5px;
    padding: 10px;
    border: none;
    background-color: white;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.205);
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
}
textarea:focus, input:focus {
    outline: none;
}
h1 {
    text-align: center;
    margin-bottom: 50px;
    color: white;
    text-shadow: 0 10px 10px rgba(0, 0, 0, 0.363);
    font-family: 'Brush Script MT', cursive;
    font-size: 100px;
}
#userList {
    width: 300px;
    height: max-content;
    border: 2px white solid;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.363);
}
#login {
    width: max-content;
    border: 2px white solid;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.363);
    border-radius: 20px;
}
#chatInput {
    width: max-content;
    min-height: 50vh;
    border: 2px white solid;
    border-radius: 20px;
    float: left;
    margin: 20px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.363);
}
#chatbox {
    width: 350px;
    height: 300px;
    resize: none;
    border-radius: 15px;
    padding: 10px;
    border: none;
}
#chatOutput {
    width: max-content;
    min-height: 50vh;
    border: 2px white solid;
    border-radius: 20px;
    float: right;
    margin: 20px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.363);
}
.center {
    display: flex;
    justify-content: center;
}